<a href="https://colab.research.google.com/github/sijieh/ACNH_project/blob/winnie_branch/ACNH_Music_Genre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd

In [4]:
music = pd.read_csv('K.K music info.csv')
villager = pd.read_csv('merged - Villagers.csv')

In [5]:
music.head()

,Order,Song,Genre,Instrument,Mood
0,1,K.K. Chorale,Classical,Organ,A little blue...
1,2,K.K. March,March,Drums\nCymbals\nHorns,I feel good!
2,3,K.K. Waltz,Waltz,Accordion,A little blue...
3,4,K.K. Swing,Swing,Drum kit\nBass\nVibraphone\nWoodwind,Laid-back
4,5,K.K. Jazz,Jazz,Drums\nSynthesizer\nElectric guitar,Laid-back

In [17]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order       107 non-null    int64
 1   Song        107 non-null    object
 2   Genre       101 non-null    object
 3   Instrument  69 non-null     object
 4   Mood        107 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.3+ KB

In [6]:
villager.head()

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Catchphrase,Favorite Song,Favorite Saying,...,Flooring,Furniture List,Furniture Name List,DIY Workbench,Kitchen Equipment,Version Added,Name Color,Bubble Color,Filename,Unique Entry ID
0,Ace,Bird,Male,Jock,A,Nature,08-Nov,ace,K.K. Hop,"If you love something, let it go. Then chase i...",...,green-paint flooring,1051;2554;2606;3122;4338;12309;12780;13114;131...,water bird;double sofa;ranch bed;mini DIY work...,"3122,3_0","14054,5_0",2.0.0,#fffce9,#0961f6,brd09,cBJxF2eoM4Cymei82
1,Admiral,Bird,Male,Cranky,A,Nature,Jan-27,aye aye,Steep Hill,Only quitters give up.,...,tatami,717;787;1849;2736;3438;3449;3622;3802;4029;410...,clay furnace;tape deck;kotatsu;retro fan;woode...,"3122,2_0",717,1.0.0,#fffce9,#0ca54a,brd06,B3RyfNEqwGmcccRC3
2,Agent S,Squirrel,Female,Peppy,B,Fitness,07-Feb,sidekick,Go K.K. Rider,You gotta put the pedal to the metal!,...,colorful tile flooring,290;1708;2560;3449;3468;3971;4080;4753;4756;71...,treadmill;cassette player;wooden chest;wooden ...,"3995,4_0","3616,2_0",1.0.0,#fffce9,#0961f6,squ05,SGMdki6dzpDZyXAw5
3,Agnes,Pig,Female,Big Sister,A,Play,Apr-21,snuffle,K.K. House,You reap what you sow.,...,arabesque flooring,896;3428;3773;3951;3958;4027;4129;7136;7235;72...,cat tower;wall-mounted TV (50 in.);terrarium;a...,"3943,2_0","3616,5_0",1.0.0,#fffce9,#515151,pig17,jzWCiDPm9MqtCfecP
4,Al,Gorilla,Male,Lazy,B,Fitness,Oct-18,ayyyeee,Go K.K. Rider,Life is a buffet. Always go back for seconds.,...,green rubber flooring,833;1452;3307;3697;3946;3960;4013;4078;4116;78...,upright locker;weight bench;digital scale;port...,"3943,3_0","3251,4_0",1.0.0,#fffad4,#798040,gor08,LBifxETQJGEaLhBjC

In [7]:
villager.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 413 non-null    object
 1   Species              413 non-null    object
 2   Gender               413 non-null    object
 3   Personality          413 non-null    object
 4   Subtype              413 non-null    object
 5   Hobby                413 non-null    object
 6   Birthday             413 non-null    object
 7   Catchphrase          413 non-null    object
 8   Favorite Song        413 non-null    object
 9   Favorite Saying      413 non-null    object
 10  Style 1              413 non-null    object
 11  Style 2              413 non-null    object
 12  Color 1              413 non-null    object
 13  Color 2              413 non-null    object
 14  Default Clothing     413 non-null    int64
 15  Default Umbrella     413 non-null    object
 16  Wallpaper            413 non-null    object
 17  Flooring             413 non-null    object
 18  Furniture List       413 non-null    object
 19  Furniture Name List  413 non-null    object
 20  DIY Workbench        413 non-null    object
 21  Kitchen Equipment    413 non-null    object
 22  Version Added        413 non-null    object
 23  Name Color           413 non-null    object
 24  Bubble Color         413 non-null    object
 25  Filename             413 non-null    object
 26  Unique Entry ID      413 non-null    object
dtypes: int64(1), object(26)
memory usage: 87.2+ KB

In [15]:
merged_v_m = villager.merge(music, left_on= 'Favorite Song', right_on = 'Song')
villager_music = merged_v_m[['Name', 'Species', 'Gender', 'Personality', 'Hobby', 'Catchphrase', 'Favorite Song', 'Genre', 'Instrument', 'Mood']]

In [16]:
villager_music.head()

,Name,Species,Gender,Personality,Hobby,Catchphrase,Favorite Song,Genre,Instrument,Mood
0,Ace,Bird,Male,Jock,Nature,ace,K.K. Hop,Hip-hop,NaN,It's hard to say
1,Admiral,Bird,Male,Cranky,Nature,aye aye,Steep Hill,Japanese folk rock,NaN,A little blue...
2,Wart Jr.,Frog,Male,Cranky,Education,grr-ribbit,Steep Hill,Japanese folk rock,NaN,A little blue...
3,Agent S,Squirrel,Female,Peppy,Fitness,sidekick,Go K.K. Rider,Television theme,Wurlitzer\nWhistle (acoustic),A little grumpy...
4,Al,Gorilla,Male,Lazy,Fitness,ayyyeee,Go K.K. Rider,Television theme,Wurlitzer\nWhistle (acoustic),A little grumpy...